<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include default/head.pug
        title Document
    body
        span#main
            include default/nav.pug
            // login
            br
            br
            .container-fluid
                .row
                    h1 Cart
                    if thereIsAProductinCart
                        table.table.table-hover.cartTable
                            thead
                                tr
                                    th 
                                    th
                                    th Nama Barang
                                    th Harga
                                    th Banyak
                                    th Total
                            tbody
                                if thereIsAProductinCart
                                    - var i = 0;
                                    - var totalArray = new Array(); 
                                    - var subtotal = 0;
                                    each product in dataProduct
                                        tr
                                            td
                                                form(action="/cart/" + product.id_barang, method="POST")
                                                    button(id="deleteDataInCart", class="deleteDataInCart") 
                                                        i(class="fa fa-times fa-2x" aria-hidden="true")  
                                            td 
                                                img(src="images/" + product.imageName, alt="", width="80px")
                                            td= product.namabarang
                                            td= product.harga
                                            - for(var j = 0; j < QuantityandTotal.length; j++)
                                                if QuantityandTotal[j].id == product.id_barang
                                                    td= QuantityandTotal[j].jumlah
                                            //- td= QuantityandTotal[i].jumlah
                                            - for(var j = 0; j < QuantityandTotal.length; j++)
                                                if QuantityandTotal[j].id == product.id_barang
                                                    td= QuantityandTotal[j].jumlah * product.harga
                                            //- td= QuantityandTotal[i].jumlah * product.harga
                                            - totalArray.push(QuantityandTotal[i].jumlah * product.harga)
                                            - subtotal += totalArray[i]
                                            - i++
                        table.table.cartTable
                            tr
                                td
                                td
                                td.col-md-2.col-sm-2.col-xs-2(style="padding-left: 25px !important")= subtotal
                        div
                            a(href="/checkout")
                                .col-md-3.col-sm-4.col-xs-12.col-md-offset-9.col-sm-offset-8.checkOutButtom
                                    center
                                        p Lanjutkan Pembayaran
                    else
                        .container.bg-warning.messages-info
                            b
                                p= messages.messageCart
            include default/footer.pug
        include default/side.pug
    script(src="javascripts/script.js")

